.head{
    margin-top: 25px;
    margin-left: 590px;
    color:black;
    
}

.head1{
    margin-top: 25px;
    padding-top: 20px;
    color: black;
    text-align: center;
   
}
.custom-container{
  
   margin-top: 0% !important;
    padding-bottom: 10px;
  background-color: white;
  
}
.bg-container{
  background-image: url('../../assets/images/kitchen.jpg');
  background-size: 45%;
  background-repeat: no-repeat;
}

.lastt{
    padding: 10px;
}
.button-75 {
  align-items: center;
  background-image: linear-gradient(135deg, #f34079 40%, #fc894d) !important;
  border: 0;
  border-radius: 10px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  font-family: "Codec cold",sans-serif;
  font-size: 16px;
  font-weight: 700;
  height: 54px;
  justify-content: center;
  letter-spacing: .4px;
  line-height: 1;
  text-align: center;
  width: 25% !important;
  margin-left: 750px !important;
  margin-bottom: 50px;
  margin-top: 25px !important;
  align-self: center;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 3px;
  text-decoration: none;
  text-transform: uppercase;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-75:active {
  outline: 0;
}

.button-75:hover {
  outline: 0;
}

.button-75 span {
  transition: all 200ms;
}

.button-75:hover span {
  transform: scale(.9);
  opacity: .75;
}

@media screen and (max-width: 991px) {
  .button-75 {
    font-size: 15px;
    height: 50px;
  }

  .button-75 span {
    line-height: 50px;
  }
}

.kitchen{
  width: 45%;
  height: 60%;
  display: flex;
  flex-wrap: wrap;

}
.form-box input, textarea{
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    padding: .5rem .8rem .5rem .8rem;
    margin: .9vw 0 ;
    border:0;
    border-radius: 5px;
    font-size: 20px;
    margin-left: 590px;
    background-image: linear-gradient(to right, rgba(94, 214, 244, 0.84),white);
    
   
}

.form-box textarea{
    height: 15vh;
}



.gmap_iframe{
 display: flex;
 width: 1240px;
 height: 300px;

}