.wish-header{
    text-align: center;
    margin:2% 25% 2% 25%;
    background-color: rgba(151, 183, 205, 0.753);
    border-radius: 25px;
}
.wishremove-icon{
   
    margin: 0 10% 0 10%;
    border: 1px solid black;
    border-radius: 50px;
    background-color: rgb(219, 217, 217);
    margin-top: -263%;
    margin-left: -40%;
    
}

.wishremove-icon:hover{
    transform:scale(1.3) ;
}
.wish-title{
    font-family: sans-serif;
    font-weight: bold;
    font-size: 15px;
    margin: 0%;
    padding: 0%;
}
 .wish-rating{
    position: relative;
    top:-2%;
    right: 50%;
    font-family: sans-serif;
    font-weight: bolder;
    font-size: 15px;
    margin: 0%;
    padding: 0%;
}
.wish-price{
    font-family: sans-serif;
    font-weight: lighter;
    color: rgba(159, 143, 49, 0.884);
    font-size: 18px;
    margin:4% 4% 6% 4%;
    padding: 0%;
    float: left;
    font-weight: bold;
}
.wish-offer{
    font-family: sans-serif;
    font-weight: lighter;
    color: green;
    font-size: 15px;
  margin:4% 0 4% 0%;
    padding: 0%;
    float: right;
}
.wish-btn{
    border: none;
    background-color:white;
   margin:8px 0px 8px 0;
    border-radius: 50px;
}

.wish-btn:hover{
    background-color: rgb(194, 197, 194);
}
.wish-clearbtn{
    color: whitesmoke;
    background-color: rgb(28, 50, 83);
    margin: 4% 15% 4% 15%;
    border-radius: 50px;
    width:12%;
    height: 6vh;
    border: none;
}
.wish-clearbtn:hover{
    background-color: rgba(115, 146, 190, 0.831);
    color: black;
}